.Burger {
  position: absolute;
  top: 15px;
  right: 15px;
  display: inline-block;
}

.Siderbar {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
}

.SiderbarOpen {
  position: absolute;
  top: 0px;
  right: 0px;
  height: calc(100% - 0px);
  display: inline-block;
  overflow: scroll;
  background-color: rgba(98, 105, 103, 0.952);
}

@media screen and (max-width: 375px) {
  .SiderbarOpen {
    width: 100%;
  }
}

@media screen and (min-width: 376px) {
  .SiderbarOpen {
    width: 300px;
    -webkit-animation-name: openSiderBar; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.2s; /* Safari 4.0 - 8.0 */
    animation-name: openSiderBar;
    animation-duration: 0.2s;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes openSiderBar {
  from {width: 0;}
  to {width: 300px;}
}

/* Standard syntax */
@keyframes openSiderBar {
  from {width: 0;}
  to {width: 300px;}
}

.List {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.Hamburger {
  background-color: rgba(0, 0, 0);
  padding: 5px 2px 0px 8px;
}

.Footer {
  color: whitesmoke;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  font-style: italic;
  font-size: small;
  border-top: 1px solid grey;
  vertical-align: middle;
  line-height: 20px;
  padding: 10px 0 10px 0;
}

.Footer > a{
  color: whitesmoke;
}
