.Burger {
  position: absolute;
  top: 15px;
  right: 15px;
  display: inline-block;
}

.Siderbar {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
}

.SiderbarOpen {
  position: absolute;
  top: 0px;
  right: 0px;
  height: calc(100% - 0px);
  width: 200px;
  display: inline-block;
  overflow: scroll;
  background-color: rgba(98, 105, 103, 0.952);
  -webkit-animation-name: openSiderBar; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.2s; /* Safari 4.0 - 8.0 */
  animation-name: openSiderBar;
  animation-duration: 0.2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes openSiderBar {
  from {width: 0;}
  to {width: 200px;}
}

/* Standard syntax */
@keyframes openSiderBar {
  from {width: 0;}
  to {width: 200px;}
}

.List {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.Hamburger {
  background-color: rgba(0, 0, 0);
  padding: 5px 2px 0px 8px;
}
